<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <h1> Current Verfied Blockchain </h1>
                <% blockchain.forEach(block => { %>
                    <div class="block">
                        <h3> Sender: <%= block.transactions[0].sender %></h3>
                        <h3> Recepient: <%= block.transactions[0].recipient %></h3>
                        <h3> Miner: <%= block.transactions[0].miner %></h3>
                        <h4> Hash</h4>
                        <p> <%= block.hash %> </p>
                        <h4> Hash of previous block </h4>
                        <p> <%= block.prevHash %> </p>
                        <h4> Timestamp </h4>
                        <p> <%= block.timestamp %></p>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn1">Transaction</button>
                            <div id="myDropdown" class="dropdown-content1">
                                <p> Sender: <%= block.transactions[0].sender %></p>
                                <p> Recepient: <%= block.transactions[0].recipient %></p>
                                <p> Miner: <%= block.transactions[0].miner %></p>
                            </div>
                          </div>
                    </div>        
    
                    <br /><br />
                    
                <% }) %>
                    
                
            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
