<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <% if(code === "10") { %>
                    <div class="code51">YOU LOST</div><br><br>
                <% } else if(code === "01") { %>
                    <div class="code00">YOU WON</div><br><br>
                <% } %>

                <h1> Join Coinflip </h1>
                    <% coinflips.forEach(coinflip => { %>
                        <h2> Coinflip by <%= coinflip.host %> </h2>
                        <h3> Bet: <%= coinflip.bet %> </h3>
                        <form action="/coinflip" method="post">
                            <p>Available Glockoin: <b><%= user.crypto %></b> </p>
    
                            <input type="number" id="amount" name="amount" value="10" min="10" max="<%= user.crypto %>" ><br><br>
                            <input type="radio" id="heads" name="coinflip" value="0">
                            <input type="radio" id="tails" name="coinflip" value="1"><br><br>
                            
                            <button  class="send" type="submit" value="submit">Play (<%= coinflip.bet %> GlocKoin %>) </button>
                          </form> 
                    <% }) %>
                <h1> Create Coinflip </h1>
                <form action="/send" method="post">
                    <input type="hidden" id="host" name="host" value="<%= user.googleId %>>"><br>
                    <label for="amount">Amount:</label><br>
                    <input type="number" id="amount" name="amount" value="10" min="10" max="<%= user.crypto %>" ><br><br>
                    <button  class="send" type="submit" value="submit">Send</button>
                </form> 
            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
