<html lang="en">
	<%- include("./partials/head.ejs") %>

    <% const truncate = (str) => { %>
    <%    return (str.length > 30) ? str.substr(0, 30-1) + '...' : str; %>
    <% }; %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <h3> Pending GlocKoin transactions </h3>
                <% blocks.forEach(block => { %>
                    <div class="block_to_mine">
                       <h4> <%= block._id %> </h4>
                        <p>From: <%= truncate(block.sender) %></p>
                        <p>To: <%= truncate(block.recipient) %></p>
                        <p>Amount: <%= truncate(block.amount) %></p>
                        <form action="/mine" method="post">
                            <input type="hidden" id="blockToMine_id" name="blockToMine_id" value="<%= block._id  %>"><br>
                            <input type="hidden" id="sender_id" name="sender_id" value="<%= block.sender %>"><br>
                            <input type="hidden" id="recipient_id" name="recipient_id" value="<%= block.recipient %>"><br>
                            <input type="hidden" id="amount" name="amount" value="<%= block.amount %>"<br><br>
                            <button onclick="startTimer()" class="send" type="submit" value="submit">Mine This New Block</button>
                            <h4 id="mining_text" style="visibility: hidden;"> MINING </h4>
                            <div id="myProgress" style="visibility: hidden;">
                                <div id="myBar"></div>
                              </div>
                          </form> 
                    </div>
                <% }) %>

            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
