<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>
        <center>
            <div class="main-data">
                <h3> Pending GlocKoin transactions </h3>
                <% blocks.forEach(block => { %>
                    <div class="block_to_mine">
                       <h4> <%= block._id %> </h4>
                        <p>From: <%= block.sender %></p>
                        <p>To: <%= block.recipient %></p>
                        <p>Amount: <%= block.amount %></p>
                        <button onclick="location.href='/mine:<%= block._id %>' type="button"> Mine This New Block </button>

                    </div>
                <% }) %>

            </div>
        </center>
        
        
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>
